.wetter {
  font-size: 190%;

  > tbody > tr {
    > td {
      vertical-align: top;
    }

    > td:nth-child(2) {
    }

    > td {
      > table {
        > tbody {
          > tr > td:first-child {
            // background-color: #666666;
            padding-right:  10px;
            font-size:      80%;
            vertical-align: middle;
          }

          > tr + tr > td.wetter__label {
            border-top: 1px dotted $font-color;
          }

          .wetter__label {
            font-weight: bold;
          }

          .wetter__value {
            color: $value-color;

            .wetter__value__unit {
              color:          $font-color;
              font-size:      50%;
              vertical-align: super;
            }
          }

          .wetter__warning {
            background-color: #ff0000;
          }
        }
      }
    }
  }
}
