.wetter {
  // background-color: #666666;
  display:        flex;
  flex-direction: column;
  flex:           1 1 auto;
  padding-left:   7px;

  > table {
    // border: 1px solid yellow;
    font-size:      190%;
    line-height:    120%;
    border-spacing: 0;

    > tbody > tr {
      > td {
        vertical-align: top;
      }

      > td:nth-child(2) {
      }

      > td {
        > table {
          border-spacing: 0;

          > tbody {
            > tr:first-child {
            }

            > tr > td:first-child {
              // background-color: #666666;
              padding-right:  10px;
              font-size:      80%;
              vertical-align: middle;
            }

            > tr + tr > td.wetter__label {
              border-top: 1px dotted $font-color;
            }

            .wetter__label {
              font-weight: bold;
            }

            .wetter__value {
              color: $value-color;

              .wetter__value__unit {
                color:          $font-color;
                font-size:      50%;
                vertical-align: super;
              }
            }
          }
        }
      }

      .wetter__warning {
         padding-right: 7px;
          max-width:    calc(293px + 293px);

        .wetter__warning__text {
          background-color: #ff6600;
          float:            left;
          padding:          2px 0 0 7px;
          width:            calc(100% - 40px);
          overflow:         hidden;
          text-overflow:    ellipsis;
          white-space:      nowrap;
        }
        .wetter__warning__icon {
          width: 40px;
          float: right;
        }
      }
    }
  }
}
