@use '../../colors.scss' as colors;

.volumio {
  tbody {
    tr {
      height: 100px;

      td {
        // background-color: #444440;

        svg {
          width: 100px;
        }

        &.volumio__control {
          // width:       100px;
        }

        &.volumio__status {
          width:       100px;
          max-width:   100px;
          font-family: Digitalism;
          font-size:   200%;
          overflow:    visible;
        }

        &.volumio__title {
          // background-color: #444440;
          padding-left: 20px;

          div {
            display:        flex;
            flex-direction: column;

            span {
              color:       colors.$value-color;
              font-size:   200%;
              margin:      0 auto;
            }
          }
        }

        &.volumio__volume {
          width:       40px;

          div {
            display:         flex;
            flex-direction:  column;
            justify-content: space-between;
            height:          288px;

            span {
              color:       colors.$value-color;
              font-family: Digitalism;
              font-size:   300%;
              margin:      0 auto;
            }
          }
        }
      }
    }

    tr:last-child {
      height:    72px;
      font-size: 200%;
    }
  }
}
