.solar {
  .solar__label {
    font-size:   50%;
  }

  .solar__value {
    color:          $value-color;
    font-family:    Digitalism;
    letter-spacing: 0.08em;
    text-align:     right;

    &.negative {
      color:        #ff8080;
    }
  }

  .solar__unit {
    font-size:      30%;
    padding-bottom: 11.5%;
  }
}
