.temperatur {
  // background-color: #ffffff;

  .temperatur__label {
    font-size:   60%;
  }

  .temperatur__value {
    display:        flex;
    flex-direction: row;
    padding:        0 0 5% 0;

    .temperatur__value__number {
      font-family: "AC Display", sans-serif;
      line-height: 80%;
    }

    .temperatur__value__right {
      line-height:    80%;
      display:        flex;
      flex-direction: column;
      flex:           0 1 auto;

      .temperatur__value__unit {
        line-height: 80%;
        font-size:   20%;
        padding:     15% 0 0 0;
      }

      .temperatur__value__right__bottom {
        display:        flex;
        flex-direction: row;
        font-family:    "AC Display", sans-serif;
        line-height:    80%;
        font-size:      60%;

        .temperatur__value__dot {
          margin:      10% 0 0 -0%;
        }

        .temperatur__value__decimals {
          margin:      10% 0 0 -0%;
        }
      }
    }
  }
}
