@use '../../colors.scss' as colors;

.value__value {
  color:          colors.$value-color;
  letter-spacing: 0.08em;
  text-align:     right;
  white-space:    nowrap;

  &.digitalism {
    font-family:  Digitalism;

    >font {
      font-size: 138%;
    }
  }

  &.negative {
    color:        #ff8080;
  }
}

.value__unit {
  font-size:      40%;
  white-space:    nowrap;

  &.value__unit__on-bottom {
    padding-top:    6%;

    &.digitalism {
      padding-top:  4%;
    }
  }

  &.value__unit__on-top {
    padding-bottom: 4%;

    &.digitalism {
      padding-bottom:  11%;
    }
  }
}

.dialog-layer .value__value {
  color:   black;
}
