@use '../../colors.scss' as colors;

.value__value {
  color:          colors.$value-color;
  letter-spacing: 0.08em;
  text-align:     right;
  white-space:    nowrap;
  width:          100px;

  >.background {
    border-radius: 5px;
    padding:       0px 3px 0 6px;
  }

  &.digitalism {
    font-family:  Digitalism;

    >.background {
      >.background-font {
        position:      relative;
        top:           5px;
      }
    }

    >font {
      font-size: 138%;

      :not(.background) {
        position:      relative;
        top:           5px;
      }
    }
  }

  &.negative {
    color:        #ff8080;
  }

  &.small {
    // padding:      3px 0 11px 0;

    font {
      font-size:     80%;
      position:      relative;
      bottom:        2px;
    }
  }
}

.value__unit {
  font-size:      40%;
  white-space:    nowrap;

  &.value__unit__on-bottom {
    padding-top:    6%;

    &.digitalism {
      padding-top:  4%;
    }
  }

  &.value__unit__on-top {
    padding-bottom: 4%;

    &.digitalism {
      padding-bottom:  11%;
    }
  }
}

.dialog-layer .value__value {
  color:   black;
}
