@use '../../colors.scss' as colors;

.clock {
  color:          colors.$value-color;
  font-family:    Digitalism;
  letter-spacing: 0.02em;
  text-align:     center;

  .clock__time {
  }

  .clock__date {
    font-size:       40%;
    display:         flex;
    justify-content: center;

    .clock__date__day {
    }

    .clock__date__date {
      margin: 0 0 0 20px;
    }
  }
}
