.dialog-layer {
  display:  flex;
  position: fixed;
  top:      0px;
  left:     0px;
  width:    915px;
  height:   600px;
  z-index:  20;

  .dialog-layer__center {
    display:         flex;
    flex:            1 1 auto;
    align-items:     center;
    justify-content: center;

    .dialog-layer__center__border {
      background-color: $dialog-frame-color;
      padding:          5px;

      .dialog-layer__center__border__header {
        background-color: $dialog-frame-color;
        color:            $dialog-header-color;
        border-color:     $dialog-border-color;
        border-style:     solid;
        border-width:     2px 2px 0 2px;
        display:          flex;

        .dialog-layer__center__border__header__text {
          // background-color: #3fa3af;
          font-size:   150%;
          padding:     10px;
          font-weight: bold;
        }

        .dialog-layer__center__border__header__blank {
          flex: 1;
        }

        .dialog-layer__center__border__header__closer {
          // background-color: #f33aaf;
          border-color:     $dialog-border-color;
          border-style:     solid;
          border-width:     0;
          height: 54px;
          width:  54px;
        }
      }

      .dialog-layer__center__border__content {
        background-color: $dialog-background-color;
        font-size:        130%;
        color:            $dialog-text-color;
        padding:          10px;
        border-color:     $dialog-border-color;
        border-style:     solid;
        border-width:     2px;
      }
    }
  }
}
