.autoLaden {
  .daten {
    td {
      white-space: nowrap;
    }
  }

  .lademodus {
    .buttons {
      div {
        display:        flex;
        flex-direction: row;

        .button {
          height: 60px;
          width:  123px;
        }
      }
    }
  }

  .ladestrom {
    .buttons {
      div {
        display:        flex;
        flex-direction: row;

        .button {
          height: 60px;
          width:  165px;
        }
      }
    }
  }

  .ladeziel {
    .buttons {
      div {
        display:        flex;
        flex-direction: row;

        .button {
          height: 60px;
          width:  95px;

          white-space: nowrap;
        }
      }
    }
  }
}
