.icons {
  background-color: #ffffff;
  display:          flex;
  flex-direction:   column;
  flex:             1 1 auto;

  .icons__row {
    display:        flex;
    flex-direction: row;
    flex:           1 1 auto;
    height:         60px;
  }

  .dark {
    background-color: #000000;
  }
};
