$font-color:                     #e0e0e0;
$value-color:                    #ffff99;

$button-background-color:        #a6a6a6;
$button-active-background-color: #99ff66;

$dialog-frame-color:             #1aa3ff;
$dialog-border-color:            #303030;
$dialog-background-color:        #ccebff;
$dialog-header-color:            #000000;
$dialog-text-color:              #000000;
