@import './components/index.scss';

body {
  margin:      0px;
  padding:     0px;
  font-family: sans-serif;
}

@font-face {
  font-family: "LCD";
  src:         url("fonts/LCD.woff") format("woff");
}

@font-face {
  font-family: "LCDSH";
  src:         url("fonts/LCDSH-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Out AEG LCD";
  src:         url("fonts/Out AEG LCD.woff2") format("woff2");
}

@font-face {
  font-family: "Dash Dot LCD-7";
  src:         url("fonts/Dash Dot LCD-7.woff2") format("woff2");
}

@font-face {
  font-family: "AC Display";
  src:         url("fonts/AC Display.woff2") format("woff2");
}

@font-face {
  font-family: "Raker Display";
  src:         url("fonts/Raker Display.woff2") format("woff2");
}

@font-face {
  font-family: "Acumin Variable Concept";
  src:         url("fonts/Acumin Variable Concept.woff2") format("woff2");
}
