$font-color:  #e0e0e0;
$value-color: #ffff99;

$dialog-frame-color:      #1aa3ff;
$dialog-border-color:     #303030;
$dialog-background-color: #ccebff;
$dialog-header-color:     #000000;
$dialog-text-color:       #000000;

@import './components/index.scss';

body {
  margin:      0px;
  padding:     0px;
  font-family: sans-serif;
}

@font-face {
  // LCD / + Regular / + proportional / + mit Kleinbuchstaben
  font-family: "Digitalism";
  src:         url("fonts/Digitalism.ttf") format("truetype");
}

@font-face {
  // LCD / + Regular / - nicht-proportional
  font-family: "G7 Cube 5";
  src:         url("fonts/G7_Cube_5.ttf") format("truetype");
}

@font-face {
  // LCD / - Italic / - 1 looks a little like 7
  font-family: "LCD";
  src:         url("fonts/LCD.woff") format("woff");
}

@font-face {
  // LCD / + Regular / - 1 looks a little like 7
  font-family: "LCDSH";
  src:         url("fonts/LCDSH-Regular.woff2") format("woff2");
}

@font-face {
  // LCD / + Regular / + Many small segments / - 2 looks like Z
  font-family: "Out AEG LCD";
  src:         url("fonts/Out AEG LCD.woff2") format("woff2");
}

@font-face {
  // LCD / + Regular / + Dots and lines / - zu pixelig
  font-family: "Dash Dot LCD-7";
  src:         url("fonts/Dash Dot LCD-7.woff2") format("woff2");
}

@font-face {
  font-family: "AC Display";
  src:         url("fonts/AC Display.woff2") format("woff2");
}

@font-face {
  font-family: "Raker Display";
  src:         url("fonts/Raker Display.woff2") format("woff2");
}

@font-face {
  font-family: "Acumin Variable Concept";
  src:         url("fonts/Acumin Variable Concept.woff2") format("woff2");
}
