@use '../../colors.scss' as colors;

.stromDiv {
  width:  100%;
  height: 100%;
}

.strom {
  font-size: 240%;
  width:     100%;
  // height:    100%;
  table-layout: fixed;

  tr {
    td:nth-of-type(1) {
      width: 35%;
    }
    td:nth-of-type(2) {
      width: 55%;
    }
    td:nth-of-type(3) {
      width: 10%;
    }
  }

  .strom__label {
    font-size:   70%;

    line-height: 45px;
  }
}
